.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.cardContainer {
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.image {
  height: 55px;
  width: 55px;
  align-self: flex-end;
}
.cardHeading {
  text-align: left;
  color: #171f46;
  font-family: roboto;
  font-size: 20px;
}
.cardDescription {
  color: #64748b;
  text-align: left;
  font-family: 'roboto';
  font-size: 16px;
}
